/* Colors*/
@import "material-colors";
@white:      #fff;
@black:      #000;

/* Resets*/
:before, ::before, :after, ::after { box-sizing: border-box; }
html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
*:focus {
	outline: none;
}

/* Text styles*/
h1, h2, h3, h4, h5, h6, p, a, li, td, span, input {
	font-family: 'AvenirNext', 'Helvetica Neue', 'Segoe UI', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
	font-weight: 400;
}
h1 { font-size: 2em }
h2 { font-size: 1.7em }
h3 { font-size: 1.5em }
h4 { font-size: 1.3em }
h5 { font-size: 1em }
h6 { font-size: .8em }
a { text-decoration: none }
@media screen and (max-width: 480px) {
	h1 { font-size: 1.7em !important }
	h2 { font-size: 1.5em !important }
	h3 { font-size: 1.3em !important }
	h4 { font-size: 1.1em !important }
	h5 { font-size: .9em !important }
	h6 { font-size: .8em !important }
}

// Cards
.card {
	display: inline-block;
	float: left;

	// Sizes
	&.card-3 { width: 25% }
	&.card-4 { width: ~"calc(100% / 3)" }
	&.card-6 { width: 50% }
	&.card-8 { width: ~"calc((100% / 3) * 2)" }
	&.card-12, &.divider { width: 100% }

	// Adjusted sizes
	@media screen and (max-width: 900px) {
		& { width: 100% !important }
		.card-content, .divider-content { margin: .6em 1.2em !important }
	}

	// Divider contents
	.divider-content {
		margin: .6em;
		h4 {
			color: @grey-600;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	// Card contents
	.card-content {
		box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
		background-color: @white;
		border-radius: 3px;
		margin: .6em;
		padding: 1.2em;
	}
	.card-header, .card-body {
		width: 100%;
	}
	.card-header {
		margin-bottom: 1.2em;
		overflow: auto;


		.card-userinfo {
			display: inline-block;
			float: left;
			width: 50%;

			img, p {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
			}
			img {
				width: 25px;
				height: 25px;
				border-radius: 100%;
				margin-right: .6em;
			}
		}
	}
	.card-body {
		.card-text {
			.progress {
				font-size: .5em;
				vertical-align: middle;
				background: @orange-800;
				text-transform: uppercase;
				color: @white;
				font-weight: 700;
				border-radius: 3px;
				padding: .2em .4em;
				margin-left: .6em;
				display: inline-block;
			}
			h5 { font-weight: 600 !important }
		}
		.card-actions {
			margin-top: .6em;
			text-align: right;

			.s_book {
				font-weight: 400;
				color: black;
			}
		}
	}
}